[submodule "dldt"]
	path = dldt
	url = https://github.com/openvinotoolkit/openvino
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
