build/*
!build/opencv
build/opencv/*
!build/opencv/opencv_setup.sh
!build/dldt
build/dldt/*
!build/dldt/dldt_setup.sh
!build/ffmpeg
build/ffmpeg/*
!build/ffmpeg/ffmpeg_setup.sh
create_wheel/*
!create_wheel/LICENSE*
!create_wheel/README.md
!create_wheel/setup.py
create_wheel/cv2/*
!create_wheel/cv2
!create_wheel/cv2/__init__.py
dldt/*
opencv/*
ffmpeg/*
!ffmpeg/.gitkeep
venv
*tar.gz
*tar.bz2
*.zip
*.swp
*.whl
